/*
    Document   : anarchy
    Created on : 12-ago-2014, 21:57:24
    Author     : lopandpe
    Description:
    Purpose of the stylesheet follows.
    
*/
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: light;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: italic;
}
* {
  font-family: "OpenSans";
}

html, body {
  height: 100%;
}

body {
  padding-top: 50px;
  background-color: #ebebe8;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
}

#madrid {
  position: absolute;
  z-index: -1;
  position: fixed;
  bottom: 0px;
}

#list {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.86);
  -moz-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.86);
  box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.86);
}
#list #results {
  position: relative;
  min-height: 300px;
}
#list #results #mariquita {
  position: fixed;
  top: 340px;
  width: 100px;
  margin-left: 1055px;
}
@media (max-width: 1200px) {
  #list #results #mariquita {
    margin-left: 855px;
  }
}
#list #results #no_match {
  padding: 50px;
}

.project {
  /*            min-height: 150px;*/
  position: relative;
  margin: 20px auto;
  padding-left: 20px;
}
.project p {
  padding: 5px;
}
.project .project-image {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.project .data_project {
  min-height: 100px;
  border: 2px solid;
  border-radius: 20px;
  padding: 20px;
}
.project .project_name {
  font-weight: bold;
  color: blue;
}
.project .see_more {
  position: absolute;
  display: block;
  padding: 2px;
  bottom: -11px;
  left: 55%;
}
.project .more_info {
  position: relative;
  min-height: 100px;
  display: none;
  padding-left: 0px;
}

@media (max-width: 760px) {
  padding-left: auto;
}
#individual_project h1 {
  text-align: center;
  margin: 60px auto;
}
#individual_project div {
  padding: 20px;
}
#individual_project div.iconed img {
  width: 50px;
}
#individual_project #back {
  margin: 0px auto;
  text-align: center;
}
#individual_project .share img {
  width: 50px;
}

#research {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-position-x: -1px;
  background-size: contain;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.86);
  -moz-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.86);
  box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.86);
}
@media (max-width: 768px) {
  #research {
    background-image: none;
  }
}
#research #researcher_form {
  margin: 0px auto;
  margin-top: 13%;
  text-align: center;
}
#research #researcher_form div {
  margin-left: 10px;
  display: inline-block;
}
#research #researcher_form div input {
  padding: 5px;
}
#research #researcher_form div label {
  font-weight: lighter;
}
@media (max-width: 768px) {
  #research {
    background-image: none;
  }
  #research #researcher_form {
    margin-top: auto;
  }
}

#searcher {
  background-image: url("../img/fondo_busqueda.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0px auto;
  max-width: 500px;
  padding-bottom: 290px;
  width: 500px;
  margin-top: 100px;
}
#searcher form {
  line-height: normal;
  position: relative;
  left: 62px;
  top: 236px;
}
#searcher form input {
  padding: 2px;
}
#searcher form #searcher_input {
  width: 299px;
}
#searcher #mobile {
  display: none;
  background-image: url("../img/mobile.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0px auto;
  width: 95%;
  padding-bottom: 29%;
}
@media (max-width: 500px) {
  #searcher {
    max-width: 100%;
    background-image: none;
    text-align: center;
    position: relative;
    margin-top: 100px;
  }
  #searcher form {
    top: auto;
    left: auto;
  }
  #searcher form input {
    width: 90%;
    margin: 0px auto;
  }
  #searcher form #searcher_input {
    width: 90%;
    margin: 0px auto;
  }
  #searcher #mobile {
    display: block;
  }
}

#new_project h1 {
  text-align: center;
}
#new_project h2 {
  color: green;
}
#new_project label {
  margin-top: 10px;
}
#new_project .errores {
  background-color: rgba(255, 150, 150, 0.8);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

/* FOOTER  */
#footer {
  width: 100%;
  text-align: center;
}
#footer ul {
  padding: 0px;
  margin: 0px auto;
}
#footer ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
#footer ul li a {
  display: block;
  font-size: 16px;
  margin: 0px 10px;
  text-decoration: none;
}

.admin .new_project {
  margin: 20px auto;
  text-align: center;
}
.admin .admin_project {
  padding: 20px;
}
.admin .admin_project .project-image {
  height: 75px;
  width: 75px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.admin #admin_search div {
  display: inline-block;
  padding: 30px;
}
