/*
    Document   : anarchy
    Created on : 12-ago-2014, 21:57:24
    Author     : lopandpe
    Description:
    Purpose of the stylesheet follows.
*/
#wrapper {
  margin-top: 60px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

#new_project h1 {
  text-align: center;
}
#new_project h2 {
  color: green;
}
#new_project label {
  margin-top: 10px;
}
#new_project .errores {
  background-color: rgba(255, 150, 150, 0.8);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
}
