/*
    Document   : anarchy
    Created on : 12-ago-2014, 21:57:24
    Author     : lopandpe
    Description:
    Purpose of the stylesheet follows.

*/
html, body{
    height: 100%;
} 
body{
    padding-top: 50px;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
}

#searcher{
    background-image: url("../img/fondo_busqueda.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0px auto;
    max-width: 500px;
    padding-bottom: 290px;
    width: 500px;
    form{
        line-height: normal;
        position: relative;
        left: 62px;
        top: 236px;
        #searcher_input{
            width: 355px;
            padding: 5px;
        }
    }
}
@media(max-width: 500px){
    body{
        background-color: #FFF;
    }
    #searcher{
        max-width: 100%;
        background-image: none;
        text-align: center;
        form{
            top: auto;
            left: auto;
            #searcher_input{
                width: 90%; 
                margin: 0px auto;
                margin-top: 40%;
            }
        }
    }
}
#new_project{
        h1{
            text-align: center;
        }
    h2{
        color: green;
    }
    label{
        margin-top: 10px;
    }
    .errores{
        background-color: rgba(255,150,150,0.8);
        border-radius: 20px;
        color: white;
        font-weight: bold;
        padding: 10px;
    }
}

/* FOOTER  */

#footer{
    width: 100%;
    text-align: center;
    ul{
        padding: 0px;
        margin: 0px auto;
        li{
            position: relative;
            list-style: none;
            display: inline-block; 
            cursor: pointer;
            a{
                display: block;
                font-size: 16px;    
                margin: 0px 10px;
                text-decoration: none;
            }
        }
    }
}